/* .logo {
  margin-right: 25px;
}
.menubar-right {
  display: flex;
  align-items: center;
  gap: 25px;
} */
.nav-link.active {
  font-weight: bolder !important;
  position: relative;
}
.nav-link.active {
  color: #ff9800 !important;
}
.nav-link.active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #ffc107 0%, #ff9800 100%);
  border-radius: 2px;
}
.navbar {
  background: rgba(
    255,
    255,
    255,
    0.7
  ) !important; /* Semi-transparent white background */
  backdrop-filter: blur(
    9px
  ) !important; /* Apply a 10px blur to the content behind the navbar */
  position: fixed; /* Optional: Make the navbar stick to the top */
  width: 100%;
  top: 0;
  z-index: 1000; /* Ensure the navbar is on top of other content */
}
.dropdown-menu {
  cursor: pointer;
}
