.hero-btn {
  background-color: rgb(252, 162, 44) !important;
  color: green;
  border: none !important;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero-btn:hover {
  background-color: rgb(252, 162, 44) !important;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  color: rgb(9, 217, 9);
}
