.explore-menu-list-item {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.explore-menu-list-item img {
  cursor: pointer;
}
.explore-menu-list-item:hover {
  transform: scale(1.09);
  transition: transform 0.2s;
}
.explore-menu-list-item .active {
  border: 3px solid rgb(255, 191, 0);
  padding: 2px;
}
.explore-menu-list-item .activep {
  color: rgb(255, 191, 0) !important;
}

.explore-menu-list-item p {
  color: #3e3c3c;
  cursor: pointer;
}
.scroll-icon {
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
  color: #747474;
  transition: color 0.2s;
}
.scroll-icon:hover {
  color: rgb(255, 196, 0);
}
.explore-menu hr {
  margin: 10px 0px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}
