@import "tailwindcss";

@theme {
  --color-blaze-orange-50: #fff7ec;
  --color-blaze-orange-100: #ffeed3;
  --color-blaze-orange-200: #ffd9a5;
  --color-blaze-orange-300: #ffbe6d;
  --color-blaze-orange-400: #ff9632;
  --color-secondary-orange: #ff770a;
  --color-primary-orange: #ff5e00;
  --color-blaze-orange-700: #cc4202;
  --color-blaze-orange-800: #a1340b;
  --color-blaze-orange-900: #822d0c;
  --color-blaze-orange-950: #461404;
}
/* Your global styles (optional) */
@layer base {
  body {
    @apply bg-white text-gray-900 antialiased;
  }
}
